$primary-color: #e9bd20;
$primary-color-light: adjust-color($primary-color, $lightness: 15%);
$primary-color-dark: adjust-color($primary-color, $lightness: -15%);
$secondary-color: #cc872e;
$secondary-color-light: adjust-color($secondary-color, $lightness: 15%);
$secondary-color-dark: adjust-color($secondary-color, $lightness: -15%);
$dark-accent: #382b22;
