<div class="dashboard-content">
  <app-process class="progress-bars"></app-process>

  <div class="dashboard-stats">
    <div class="stat-card">
      <h3>Wood</h3>
      <p>{{ store.wood$ | async }}</p>
    </div>
    <div class="stat-card">
      <h3>Stone</h3>
      <p>{{ store.stone$ | async }}</p>
    </div>
    <div class="stat-card">
      <h3>Food</h3>
      <p>{{ store.food$ | async }}</p>
    </div>
    <div class="stat-card">
      <h3>Houses</h3>
      <p>{{ store.houses$ | async }}</p>
    </div>
  </div>
  
</div>