.dashboard-content {
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.progress-bars {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.dashboard-stats {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    background-color: beige;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
    gap: 20px;

    .stat-card {
        padding: .5rem;
        flex: 1;
    }

    h3 {
        font-size: 16px;
        color: #6c757d;
        margin-bottom: 5px;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        color: #212529;
        margin: 0;
    }
}
