<div class="progress-container">
  <h3>Processes</h3>

  <div *ngIf="(store.sortedActiveProcesses$ | async)?.length === 0" class="no-processes">
    No active processes
  </div>

  <div class="progress-list">
    <div *ngFor="let process of store.visibleProcesses$ | async" class="progress-item">
      <div class="progress-info">
        <span class="process-type">{{ process.type }}</span>
        <span class="process-amount">+{{ process.amount }}</span>
      </div>

      <div class="progress-bar-container">
        <div class="progress-bar" [style.width]="getProgressPercentage(process) + '%'"></div>
      </div>

      <button *ngIf="process.completed" class="btn-claim" (click)="claimReward(process.id)">
        <svg class="svg-icon" fill="#fff" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 7L5.5 11.5L14 3" stroke="#fff" stroke-linecap="square"/> </svg>
          <div class="time-remaining">Claim</div>
      </button>

      <button *ngIf="!process.completed" class="btn-cancel" (click)="cancelProcess(process.id)">
        <svg class="svg-icon" fill="#fff" viewBox="-4 -8 36 36" id="cross" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
        </path>
        </svg>
        <div class="time-remaining" *ngIf="!process.completed">
          {{ getTimeRemaining(process) }}
        </div>
      </button>
    </div>

    <div *ngIf="(store.hiddenProcessCount$ | async) ?? 0 > 0" class="more-processes">
      {{ store.hiddenProcessCount$ | async }} more
    </div>
  </div>
</div>