<div class="grid grid-cols-[auto_1fr_auto_auto] items-center p-4 m-2 border-2 border-dark-accent rounded-2xl">
  <div class="flex items-center">
    <ng-content></ng-content>
  </div>
  <div class="px-8 text-lg">{{ sectionTitle() }}</div>
  <div class="flex justify-center items-center w-16 h-16">
    <app-circle-progress 
      *ngIf="activeProcess()"
      [process]="activeProcess()!"
      (onComplete)="handleProcessComplete($event)"
      (onCancel)="handleProcessCancel($event)">
    </app-circle-progress>
  </div>

  <div *ngIf="route()">
    <button
      [routerLink]="route()"
      [disabled]="!isActionEnabled()"
      class="min-w-20 button-theme">
      {{ buttonTitle() }}
    </button>
  </div>
  <div *ngIf="!route()">
    <button
      (click)="handleButtonClick()"
      [disabled]="!isActionEnabled() || activeProcess()"
      class="min-w-20 button-theme">
      {{ buttonTitle() }}
    </button>
  </div>
</div>
